.navbar {
    background-color: #28A745;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navbar-section {
    display: flex;
    justify-content: right;
    padding-right: auto;
}

.card {
    border: 1px solid #d1d1d1;
    margin: 10px;
}

.responsive {
    display: flex;
    flex-wrap: wrap;
}

