.navbar {
    background-color: #28A745;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}

.collapse {
    display: flex;
    align-items: right;
    padding: 10px;
    color: white;
}

.nav-link {
    color: white;
}

.card {
    border: 1px solid #d1d1d1;
    margin: 10px;
    justify-content: center;
}

.responsive {
    display: block;
    flex-wrap: nowrap;
}

.row {
    margin-right: 5%;
    width: 100%;
}

.col-md-4 {
    margin-top: 5%;
}

.card-body {
    padding: auto;
}

.card-title {
    font-size: 20px;
    font-style: light;
}
 .card-text{
    font-size: 16px;
    font-style: light;
 }

 .card-old-price {
    font-size: 16px;
    font-style: lighter;
    text-align: right;
    color: #707070;
    display: flex;
    align-items: flex-end;
}

.card-price {
    font-size: 20px;
    color: #28A745;
    font-weight: bold;
    text-align: right;
    display: flex;
    margin-left: 20px;
    align-items: flex-end;
 }

 .row-prices {
    display: flex;
    justify-content: right;
 }

 .card-address {
    color: #707070;
    font-size: 13px;
    font-style: lighter;
 }
